name: mlflow-ci

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: 3.11.2
        activate-environment: base

    - name: Install MLflow
      shell: bash -l {0}
      run: |
        pip install mlflow

    - name: Run MLflow Project
      shell: bash -l {0}
      run: |
        mlflow run MLProject


    
